{% extends "basic.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <img class="rounded mx-auto d-block" height="400" alt="CATS" src="{{ cats_url }}">
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col">
                <p class="text-center">
                    {% if user.is_authenticated %}
                        <form action="{% url 'main:cat_save' %}" method="post" class="text-center">
                            {% if cats_save %}
                                <button type="submit" class="btn btn-primary btn-lg" disabled>Image saved</button>
                            {% else %}
                                <input type="hidden" name="pet_url" value="{{ cats_url }}">
                                <input type="hidden" name="pet_ext" value="{{ cats_ext }}">
                                <input type="hidden" name="pet_type" value="CAT">
                                <button type="submit" class="btn btn-primary btn-lg">Save image</button>
                            {% endif %}
                            {% csrf_token %}
                            <a href="{% url 'main:cats' %}" class="btn btn-secondary btn-lg" role="button"
                           aria-pressed="true">Next image</a>
                        </form>
                    {% else %}
                        <button type="button" class="btn btn-primary btn-lg" disabled>Save image</button>
                        <a href="{% url 'main:cats' %}" class="btn btn-secondary btn-lg" role="button"
                           aria-pressed="true">Next image</a>
                    {% endif %}
                </p>
            </div>
{#            <div class="col">#}
{#                <form action="{% url 'main:upload' %}" method="post">#}
{#                    {% csrf_token %}#}
{#                    <button type="submit">DATA TRANSFER</button>#}
{#                </form>#}
{#            </div>#}
        </div>
    </div>
<br>
<br>
{% endblock %}